<h1>Редактировать курс {{course.title}}</h1>

<form action="/courses/edit" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{course.title}}" required>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" value="{{course.price}}" required min="1">
        <label for="price">Стоимость курса</label>
        <span class="helper-text" data-error="Введите цену"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" value="{{course.img}}" required>
        <label for="img">Обложка курса</label>
        <span class="helper-text" data-error="Введите url картинки"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">

    <button class="btn btn-primary">Редактировать курс</button>
</form>
